{
  "Parameters": {
    "GALLERY_ITEM_DDB_TABLE": "CHANGEME-table",
    "ORIGINAL_IMAGES_BUCKET": "CHANGEME-originals",
    "DERIVED_IMAGES_BUCKET": "CHANGEME-derived",
    "DERIVED_IMAGE_GENERATOR_DOMAIN": "CHANGEME.lambda-url.us-east-1.on.aws"
  }
}
